section {
    margin: 121px 0 50px 0;
}
header {
  font-size: 2em;
  top: 0;
}
footer {
  bottom: 0;
}
header,
footer {
  background: #800;
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 1em;
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 100;
}